.property {
    border-radius: 5px;
    padding: 1.5rem;
    background-color: #fff;
    font-family: 'Circular Std';
    margin: 5px;
}

.property:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.property-info {
    text-align: left;
}